body {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

.calculator-grid-container {
  display: grid;
  width: 300px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(auto-fit, 75px);
  margin: 40px auto;
}

.btn {
  margin: 0;
  border-radius: 0;
  height: 50px;
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(202, 202, 202);
}

.button-operation {
  background-color: rgb(244, 141, 75);
}

.output-result {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: span 4;
  text-align: right;
  height: 50px;
  font-size: 1.5rem;
  color: #fff;
  background-color: rgb(133, 134, 146);
  padding-right: 4px;
}

.zero-button {
  grid-column: span 2;
}
