@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

body {
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

.calculator-main-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 80px 3rem;
}

.calculator-grid-container {
  display: grid;
  width: 60%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(auto-fit, 25%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calculator-title {
  font-size: 2rem;
  margin: 0;
}

.btn {
  margin: 0;
  border-radius: 0;
  height: 70px;
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(202, 202, 202);
  font-size: 1.5rem;
}

.button-operation {
  background-color: rgb(244, 141, 75);
}

.output-result {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: span 4;
  text-align: right;
  height: 70px;
  font-size: 2rem;
  color: #fff;
  background-color: rgb(133, 134, 146);
  padding-right: 4px;
}

.zero-button {
  grid-column: span 2;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}

.header-title {
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 1;
  margin-left: 3rem;
}

.navbar-items {
  display: flex;
  justify-content: space-around;
  align-content: center;
  gap: 10px;
  margin-right: 3rem;
}

.nav-link {
  list-style-type: none;
  font-size: 1.2rem;
}

.nav-link a {
  color: black;
  text-decoration: none;
}

.nav-link a:hover {
  text-decoration: underline;
}

.vertical-line {
  border-right: 2px solid black;
}

#home-link-container {
  margin: 0 4rem;
}

.home-title {
  font-size: 2rem;
  margin-bottom: 40px;
  margin-top: 4rem;
}

.home-link-text {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.7;
}

.math-quote {
  font-size: 2rem;
  margin: 150px auto;
  font-style: italic;
  width: 75%;
  text-align: center;
  opacity: 0.5;
  line-height: 2.5rem;
  font-weight: 400;
}
